:root {
  --alabaster: #faf8fa;
  --big-stone: #172a35;
  --black: #000000;
  --christine: #f0680d;
  --coconut: #fefefe;
  --dodger-blue: #0f8ff8;
  --dove-gray: #707070;
  --electric-lime: #c8fd08;
  --gallery: #ededed;
  --green: #20cc6a;
  --green-vogue: #042a52;
  --mirage: #091c29;
  --outer-space: #2e3e49;
  --regal-blue: #0a3f78;
  --white: #ffffff;

  --font-size-l: 48px;
  --font-size-m: 36px;
  --font-size-s: 32px;
  --font-size-xl: 60px;
  --font-size-xs: 28px;
  --font-size-xxs: 24px;
  --font-size-xxxs: 20px;
  --font-size-xxxxs: 18px;
  --font-size-xxxxxs: 12px;

  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-franklingothic-medium: "FranklinGothic-Medium", Helvetica;
  --font-family-franklingothicurw-boo: "FranklinGothicURW-Boo", Helvetica;
  --font-family-franklingothicurw-demi: "FranklinGothicURW-Demi", Helvetica;
  --font-family-franklingothicurw-med: "FranklinGothicURW-Med", Helvetica;
  --font-family-franklingothicurw-medium: "FranklinGothicURW-Medium", Helvetica;
  --font-family-lapture-semibold: "Lapture-Semibold", Helvetica;
  --font-family-lapture_display: "Lapture Display", Helvetica;
  --font-family-lapturedisplay-bold: "LaptureDisplay-Bold", Helvetica;
  --font-family-lapturedisplay-semibold: "LaptureDisplay-Semibold", Helvetica;
  --font-family-lapturesubhead-semibold: "LaptureSubhead-Semibold", Helvetica;
  --font-family-replica: "Replica", Helvetica;
  --font-family-replica-bold: "Replica-Bold", Helvetica;
  --font-family-replica-light: "Replica-Light", Helvetica;
}
.franklingothicurw-medium-dodger-blue-24px {
  color: var(--dodger-blue);
  font-family: var(--font-family-franklingothicurw-medium);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}
.franklingothicurw-med-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-franklingothicurw-med);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}
.franklingothicurw-medium-white-28px {
  color: var(--white);
  font-family: var(--font-family-franklingothicurw-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}
.franklingothicurw-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-franklingothicurw-medium);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 500;
}
.franklingothicurw-med-normal-dodger-blue-36px {
  color: var(--dodger-blue);
  font-family: var(--font-family-franklingothicurw-med);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.lapturedisplay-medium-white-20px {
  color: var(--white);
  font-family: var(--font-family-lapture_display);
  font-size: var(--font-size-xxxs);
}
.lapturedisplay-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 600;
}
.franklingothicurw-medium-white-12px {
  color: var(--white);
  font-family: var(--font-family-franklingothicurw-medium);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 500;
}
.lapture-semi-bold-white-36px {
  color: var(--white);
  font-family: var(--font-family-lapture-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.franklingothicurw-demi-normal-christine-60px {
  color: var(--christine);
  font-family: var(--font-family-franklingothicurw-demi);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.franklingothicurw-med-normal-electric-lime-36px {
  color: var(--electric-lime);
  font-family: var(--font-family-franklingothicurw-med);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.franklingothicurw-medium-electric-lime-18px {
  color: var(--electric-lime);
  font-family: var(--font-family-franklingothicurw-medium);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 500;
}
.franklingothicurw-medium-outer-space-24px {
  color: var(--outer-space);
  font-family: var(--font-family-franklingothicurw-medium);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}
.franklingothicurw-med-normal-alabaster-24px {
  color: var(--alabaster);
  font-family: var(--font-family-franklingothicurw-med);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.lapturedisplay-semi-bold-white-60px {
  color: var(--white);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}
.lapturesubhead-semi-bold-christine-32px {
  color: var(--christine);
  font-family: var(--font-family-lapturesubhead-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}
.franklingothicurw-medium-christine-36px {
  color: var(--christine);
  font-family: var(--font-family-franklingothicurw-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}
.lapturedisplay-semi-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}
.lapture-semi-bold-black-36px {
  color: var(--black);
  font-family: var(--font-family-lapture-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.franklingothicurw-boo-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-franklingothicurw-boo);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}
.lapture-semi-bold-dodger-blue-36px {
  color: var(--dodger-blue);
  font-family: var(--font-family-lapture-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.lapture-semi-bold-electric-lime-36px {
  color: var(--electric-lime);
  font-family: var(--font-family-lapture-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.lapture-semi-bold-green-36px {
  color: var(--green);
  font-family: var(--font-family-lapture-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.franklingothicurw-med-normal-dodger-blue-18px {
  color: var(--dodger-blue);
  font-family: var(--font-family-franklingothicurw-med);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}
.lapturedisplay-normal-christine-36px {
  color: var(--christine);
  font-family: var(--font-family-lapture_display);
  font-size: var(--font-size-m);
}
.lapturedisplay-semi-bold-mirage-36px {
  color: var(--mirage);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.lapturedisplay-semi-bold-christine-36px {
  color: var(--christine);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}
.franklingothicurw-med-normal-christine-18px {
  color: var(--christine);
  font-family: var(--font-family-franklingothicurw-med);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}
.franklingothicurw-med-normal-coconut-24px {
  color: var(--coconut);
  font-family: var(--font-family-franklingothicurw-med);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-coconut-28px {
  color: var(--coconut);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.lapturedisplay-semi-bold-christine-60px {
  color: var(--christine);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}
.lapturedisplay-medium-white-48px {
  color: var(--white);
  font-family: var(--font-family-lapture_display);
  font-size: var(--font-size-l);
}
.lapturedisplay-semi-bold-white-48px {
  color: var(--white);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}
.lapturedisplay-semi-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-lapturedisplay-semibold);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 600;
}
.lapturedisplay-semi-bold-christine-60px-2 {
  color: var(--christine);
  font-family: var(--font-family-lapture_display);
  font-size: var(--font-size-xl);
}
.lapturedisplay-bold-christine-60px {
  color: var(--christine);
  font-family: var(--font-family-lapturedisplay-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
.lapturesubhead-semi-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-lapturesubhead-semibold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
