/* screen - verification-popup-02 */

.verification-popup-02 {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.verification-popup-02 .add-module-button-C61RwL {
  background-color: transparent;
  height: 72px;
  left: 1244px;
  position: absolute;
  top: 703px;
  width: 69px;
}
.verification-popup-02 .article-container-CPmwxB {
  background-color: transparent;
  bottom: 11px;
  height: 563px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 30px);
}
.verification-popup-02 .article-d-isplay-module-C61RwL {
  background-color: transparent;
  height: 872px;
  left: 428px;
  position: absolute;
  top: 177px;
  width: 532px;
}
.verification-popup-02 .article-information-text-CPmwxB {
  background-color: transparent;
  height: 219px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 69px;
  width: calc(100.00% - 27px);
}
.verification-popup-02 .article-minting-module-C61RwL {
  background-color: transparent;
  height: 174px;
  left: 1580px;
  position: absolute;
  top: 437px;
  width: 300px;
}
.verification-popup-02 .articles-M6QzmS {
  background-color: transparent;
  height: 27px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(26.09% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 87px);
}
.verification-popup-02 .articles-PZtHVO {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: calc(33.33% - 17px);
  width: 100%;
}
.verification-popup-02 .background-5mh5pu {
  background-color: var(--regal-blue);
  border-radius: 12px;
  box-shadow: -3px 3px 3px #0000004d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .background-96TyVx {
  background-color: var(--electric-lime);
  border-radius: 12px;
  box-shadow: -3px 3px 3px #0000004d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .background-C61RwL {
  background-color: var(--mirage);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.verification-popup-02 .background-CPmwxB {
  background-color: var(--dodger-blue);
  border-radius: 12px;
  box-shadow: -3px 3px 3px #0000004d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .background-DGxVxJ {
  background-color: var(--big-stone);
  border-radius: 12px;
  box-shadow: -3px 3px 3px #0000004d;
  height: 314px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
}
.verification-popup-02 .background-SweIIp {
  background-color: var(--regal-blue);
  border-radius: 12px;
  box-shadow: -3px 3px 3px #0000004d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .background-flJxko {
  background-color: var(--regal-blue);
  border-radius: 50px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .background-may3U0 {
  background-color: var(--regal-blue);
  border-radius: 12px;
  box-shadow: -3px 3px 3px #0000004d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .blur-overlay-C61RwL {
  -webkit-backdrop-filter: blur(10px) brightness(115%);
  backdrop-filter: blur(10px) brightness(115%);
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.verification-popup-02 .button-5mh5pu {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  bottom: 19px;
  height: 56px;
  left: 15px;
  position: absolute;
  width: calc(100.00% - 30px);
}
.verification-popup-02 .button-may3U0 {
  background-color: var(--dodger-blue);
  border-radius: 10px;
  bottom: 19px;
  height: 56px;
  left: 15px;
  position: absolute;
  width: calc(100.00% - 30px);
}
.verification-popup-02 .group-1-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 7px;
  left: 2px;
  position: absolute;
  width: 6px;
}
.verification-popup-02 .group-10-n2xsv7 {
  background-color: transparent;
  height: calc(100.00% - 12px);
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 47px;
}
.verification-popup-02 .group-11-9cbWtE {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-12-Kdqw5W {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-13-n2xsv7 {
  background-color: transparent;
  height: calc(100.00% - 12px);
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 48px;
}
.verification-popup-02 .group-14-S9Rx3h {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-15-950Kc8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-16-n2xsv7 {
  background-color: transparent;
  bottom: 10px;
  height: 1px;
  left: 23.96%;
  mix-blend-mode: normal;
  position: absolute;
  width: 2px;
}
.verification-popup-02 .group-17-qfaKlX {
  background-color: transparent;
  height: 2px;
  position: absolute;
  right: 5px;
  top: 1px;
  width: 1px;
}
.verification-popup-02 .group-18-PfcYZ7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-19-MgiJTR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-2-DxuxZV {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-20-n2xsv7 {
  background-color: transparent;
  bottom: 1px;
  height: 56px;
  mix-blend-mode: normal;
  position: absolute;
  right: 0px;
  width: 44px;
}
.verification-popup-02 .group-21-9O9mxD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-22-JQYI34 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-23-n2xsv7 {
  background-color: transparent;
  height: calc(100.00% - 6px);
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4px;
  width: calc(100.00% - 12px);
}
.verification-popup-02 .group-24-n2xsv7 {
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}
.verification-popup-02 .group-25-iQSwSs {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-26-Xc6uzo {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-27-n2xsv7 {
  background-color: transparent;
  height: calc(100.00% - 8px);
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 49px;
}
.verification-popup-02 .group-28-al0DN3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-29-hsHRXs {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 64px;
}
.verification-popup-02 .group-3-s4tzg4 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-4-n2xsv7 {
  background-color: transparent;
  height: calc(100.00% - 14px);
  mix-blend-mode: normal;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 43px;
}
.verification-popup-02 .group-5-ILFXfk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-6-0CjL7T {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .group-7-n2xsv7 {
  background-color: transparent;
  height: 1px;
  mix-blend-mode: normal;
  position: absolute;
  right: calc(33.30% - 1px);
  top: 2px;
  width: 2px;
}
.verification-popup-02 .group-8-p8t3x7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.verification-popup-02 .group-9-5FGL97 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .header-96TyVx {
  background-color: transparent;
  height: 49px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(21.10% - 10px);
  width: calc(100.00% - 27px);
}
.verification-popup-02 .icon-1lBpHh {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .icon-96TyVx {
  background-color: transparent;
  height: 28px;
  object-fit: cover;
  position: absolute;
  right: 12px;
  top: 11px;
  width: 23px;
}
.verification-popup-02 .icon-9A8khq {
  background-color: transparent;
  height: 3px;
  object-fit: cover;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 11px;
}
.verification-popup-02 .icon-9ws58m {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 32px;
  top: 26px;
  width: 11px;
}
.verification-popup-02 .icon-CPmwxB {
  background-color: transparent;
  height: 30px;
  object-fit: cover;
  position: absolute;
  right: 13px;
  top: 28px;
  width: 20px;
}
.verification-popup-02 .icon-DGxVxJ {
  background-color: transparent;
  height: 20px;
  object-fit: cover;
  position: absolute;
  right: 13px;
  top: 9px;
  width: 20px;
}
.verification-popup-02 .icon-MLqgWW {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: -3px 3px 3px #0000004d;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .icon-Nypj6O {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 22px;
  top: 13px;
  width: 3px;
}
.verification-popup-02 .icon-SweIIp {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 18px;
  top: 26px;
  width: 11px;
}
.verification-popup-02 .icon-flJxko {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: 43px;
  top: 40px;
  width: 25px;
}
.verification-popup-02 .icon-tLKfKx {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 32px;
  top: 13px;
  width: 11px;
}
.verification-popup-02 .icon-xSG5Dw {
  background-color: transparent;
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: 19px;
  top: 15px;
  width: 9px;
}
.verification-popup-02 .icon-xvAz4X {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .left-divider-C61RwL {
  background-color: transparent;
  height: 1080px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .log-out-mIxXJS {
  background-color: transparent;
  height: 27px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(26.09% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 87px);
}
.verification-popup-02 .logo-C61RwL {
  background-color: transparent;
  height: 68px;
  left: 71px;
  position: absolute;
  top: 78px;
  width: 212px;
}
.verification-popup-02 .logo-exFKkL {
  background-color: transparent;
  height: 68px;
  left: 0px;
  position: relative;
  top: -0px;
  width: 212px;
}
.verification-popup-02 .logout-PZtHVO {
  background-color: transparent;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.verification-popup-02 .marketplace-K5Lepo {
  background-color: transparent;
  height: 27px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(26.09% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 87px);
}
.verification-popup-02 .marketplace-PZtHVO {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .nav-menu-C61RwL {
  background-color: transparent;
  height: 275px;
  left: 15px;
  position: absolute;
  top: 177px;
  width: 325px;
}
.verification-popup-02 .nft-token-display-module-C61RwL {
  background-color: transparent;
  height: 228px;
  left: 978px;
  position: absolute;
  top: 440px;
  width: 532px;
}
.verification-popup-02 .path-1-hsHRXs {
  background-color: transparent;
  height: 43px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 45px;
}
.verification-popup-02 .path-10-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-11-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-12-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-13-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-14-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-15-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-16-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-17-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-18-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-19-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-2-hsHRXs {
  background-color: transparent;
  height: 43px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 30px;
}
.verification-popup-02 .path-20-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-21-abm6Gl {
  background-color: transparent;
  height: 29px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 2px);
}
.verification-popup-02 .path-22-abm6Gl {
  background-color: transparent;
  height: 26px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 3px);
}
.verification-popup-02 .path-23-abm6Gl {
  background-color: transparent;
  height: 24px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 4px);
}
.verification-popup-02 .path-24-abm6Gl {
  background-color: transparent;
  height: 22px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 4px);
}
.verification-popup-02 .path-25-abm6Gl {
  background-color: transparent;
  height: 21px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 5px);
}
.verification-popup-02 .path-26-abm6Gl {
  background-color: transparent;
  height: 20px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 6px);
}
.verification-popup-02 .path-27-abm6Gl {
  background-color: transparent;
  height: 18px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 6px);
}
.verification-popup-02 .path-28-abm6Gl {
  background-color: transparent;
  height: 17px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 36px;
}
.verification-popup-02 .path-29-abm6Gl {
  background-color: transparent;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 36px;
}
.verification-popup-02 .path-3-hsHRXs {
  background-color: transparent;
  height: 43px;
  left: 176px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 36px;
}
.verification-popup-02 .path-30-abm6Gl {
  background-color: transparent;
  height: 15px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 35px;
}
.verification-popup-02 .path-31-abm6Gl {
  background-color: transparent;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 34px;
}
.verification-popup-02 .path-32-abm6Gl {
  background-color: transparent;
  height: 14px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 34px;
}
.verification-popup-02 .path-33-abm6Gl {
  background-color: transparent;
  height: 13px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 33px;
}
.verification-popup-02 .path-34-abm6Gl {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 32px;
}
.verification-popup-02 .path-35-abm6Gl {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 31px;
}
.verification-popup-02 .path-355-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.verification-popup-02 .path-356-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-357-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-358-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-359-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-36-abm6Gl {
  background-color: transparent;
  height: 10px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 30px;
}
.verification-popup-02 .path-360-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-361-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-362-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-363-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-364-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-365-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.verification-popup-02 .path-366-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.verification-popup-02 .path-367-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.verification-popup-02 .path-368-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 1px);
}
.verification-popup-02 .path-369-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.verification-popup-02 .path-37-abm6Gl {
  background-color: transparent;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
}
.verification-popup-02 .path-370-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}
.verification-popup-02 .path-371-qfaKlX {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 2px);
}
.verification-popup-02 .path-372-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 34px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 5px);
}
.verification-popup-02 .path-373-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 30px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 6px);
}
.verification-popup-02 .path-374-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 28px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 37px;
}
.verification-popup-02 .path-375-qfaKlX {
  background-color: transparent;
  bottom: 0px;
  height: 26px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 36px;
}
.verification-popup-02 .path-376-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 25px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 35px;
}
.verification-popup-02 .path-377-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 23px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 34px;
}
.verification-popup-02 .path-378-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 22px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 34px;
}
.verification-popup-02 .path-379-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 21px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 33px;
}
.verification-popup-02 .path-38-abm6Gl {
  background-color: transparent;
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 29px;
}
.verification-popup-02 .path-380-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 20px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 32px;
}
.verification-popup-02 .path-381-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 19px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 31px;
}
.verification-popup-02 .path-382-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 18px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 31px;
}
.verification-popup-02 .path-383-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 17px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 30px;
}
.verification-popup-02 .path-384-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 16px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 29px;
}
.verification-popup-02 .path-385-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 15px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 28px;
}
.verification-popup-02 .path-386-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 14px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 27px;
}
.verification-popup-02 .path-387-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 13px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 26px;
}
.verification-popup-02 .path-388-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 26px;
}
.verification-popup-02 .path-389-qfaKlX {
  background-color: transparent;
  bottom: 0px;
  height: 11px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 25px;
}
.verification-popup-02 .path-39-abm6Gl {
  background-color: transparent;
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 28px;
}
.verification-popup-02 .path-390-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 10px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 23px;
}
.verification-popup-02 .path-391-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 9px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 22px;
}
.verification-popup-02 .path-392-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 21px;
}
.verification-popup-02 .path-393-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 7px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 19px;
}
.verification-popup-02 .path-394-qfaKlX {
  background-color: transparent;
  bottom: 1px;
  height: 6px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 17px;
}
.verification-popup-02 .path-395-qfaKlX {
  background-color: transparent;
  height: 16px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  top: 0px;
  width: 4px;
}
.verification-popup-02 .path-396-qfaKlX {
  background-color: transparent;
  height: 13px;
  object-fit: cover;
  position: absolute;
  right: 2px;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .path-397-qfaKlX {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 3px;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .path-398-qfaKlX {
  background-color: transparent;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: 3px;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .path-399-qfaKlX {
  background-color: transparent;
  height: 8px;
  object-fit: cover;
  position: absolute;
  right: 3px;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .path-4-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-40-abm6Gl {
  background-color: transparent;
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 27px;
}
.verification-popup-02 .path-400-qfaKlX {
  background-color: transparent;
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: 3px;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .path-401-qfaKlX {
  background-color: transparent;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 3px;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .path-402-qfaKlX {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 4px;
  top: 0px;
  width: 2px;
}
.verification-popup-02 .path-403-qfaKlX {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 4px;
  top: 0px;
  width: 2px;
}
.verification-popup-02 .path-404-qfaKlX {
  background-color: transparent;
  height: 3px;
  object-fit: cover;
  position: absolute;
  right: 4px;
  top: 0px;
  width: 2px;
}
.verification-popup-02 .path-405-GyR4Ir {
  background-color: transparent;
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 1px);
}
.verification-popup-02 .path-406-GyR4Ir {
  background-color: transparent;
  bottom: 0px;
  height: 1px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 1px;
}
.verification-popup-02 .path-41-abm6Gl {
  background-color: transparent;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 26px;
}
.verification-popup-02 .path-42-abm6Gl {
  background-color: transparent;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 24px;
}
.verification-popup-02 .path-43-abm6Gl {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 22px;
}
.verification-popup-02 .path-44-abm6Gl {
  background-color: transparent;
  bottom: 0px;
  height: 20px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 8px;
}
.verification-popup-02 .path-45-abm6Gl {
  background-color: transparent;
  bottom: 0px;
  height: 17px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 8px;
}
.verification-popup-02 .path-46-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 15px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 8px;
}
.verification-popup-02 .path-47-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 14px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 8px;
}
.verification-popup-02 .path-478-sxwoO4 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.verification-popup-02 .path-48-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 13px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 8px;
}
.verification-popup-02 .path-49-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 12px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 7px;
}
.verification-popup-02 .path-5-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-50-abm6Gl {
  background-color: transparent;
  bottom: 0px;
  height: 11px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 7px;
}
.verification-popup-02 .path-51-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 10px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 7px;
}
.verification-popup-02 .path-52-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 9px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 7px;
}
.verification-popup-02 .path-53-abm6Gl {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  width: 7px;
}
.verification-popup-02 .path-54-UU8PjY {
  background-color: transparent;
  height: 2px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1px;
}
.verification-popup-02 .path-55-UU8PjY {
  background-color: transparent;
  bottom: 1px;
  height: 1px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 1px;
}
.verification-popup-02 .path-592-MLqgWW {
  background-color: transparent;
  height: 20px;
  object-fit: cover;
  position: absolute;
  right: 13px;
  top: 12px;
  width: 20px;
}
.verification-popup-02 .path-6-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-7-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-8-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .path-9-abm6Gl {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .profile-photo-SweIIp {
  background-color: var(--dodger-blue);
  border-radius: 35.5px;
  height: 71px;
  left: 14px;
  position: absolute;
  top: 32px;
  width: 71px;
}
.verification-popup-02 .reviewer-display-module-C61RwL {
  background-color: transparent;
  height: 228px;
  left: 978px;
  position: absolute;
  top: 177px;
  width: 532px;
}
.verification-popup-02 .right-divider-C61RwL {
  background-color: transparent;
  height: 1080px;
  left: 1544px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 3px;
}
.verification-popup-02 .scroll-icon-CPmwxB {
  background-color: transparent;
  bottom: 41px;
  height: 24px;
  object-fit: cover;
  position: absolute;
  right: calc(49.36% - 21px);
  width: 42px;
}
.verification-popup-02 .search-bar-C61RwL {
  background-color: transparent;
  height: 50px;
  left: 410px;
  position: absolute;
  top: 87px;
  width: 450px;
}
.verification-popup-02 .search-bar-K5Lepo {
  background-color: var(--outer-space);
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .search-bar-M6QzmS {
  background-color: var(--dodger-blue);
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .search-bar-mIxXJS {
  background-color: var(--outer-space);
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .search-bar-raZGPH {
  background-color: var(--outer-space);
  border-radius: 25px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .search-bar-xFCRPv {
  background-color: var(--outer-space);
  border-radius: 15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.verification-popup-02 .search-raZGPH {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 30px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: calc(37.50% - 13px);
  white-space: nowrap;
  width: calc(100.00% - 86px);
}
.verification-popup-02 .search-raZGPH::placeholder {
  color: #0f8ff899;
}
.verification-popup-02 .settigns-PZtHVO {
  background-color: transparent;
  bottom: calc(33.33% - 17px);
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.verification-popup-02 .settings-xFCRPv {
  background-color: transparent;
  height: 27px;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: calc(26.09% - 7px);
  white-space: nowrap;
  width: calc(100.00% - 87px);
}
.verification-popup-02 .sign-up-display-module-C61RwL {
  background-color: transparent;
  height: 502px;
  left: 581px;
  position: absolute;
  top: 217px;
  width: 760px;
}
.verification-popup-02 .span0-DBkUh6 {

}
.verification-popup-02 .span0-Jix5FH {

}
.verification-popup-02 .span0-MrZXuK {

}
.verification-popup-02 .span0-dHJEIB {

}
.verification-popup-02 .span1-DBkUh6 {

}
.verification-popup-02 .span1-Jix5FH {

}
.verification-popup-02 .span1-MrZXuK {

}
.verification-popup-02 .span1-dHJEIB {

}
.verification-popup-02 .span2-DBkUh6 {

}
.verification-popup-02 .span2-Jix5FH {

}
.verification-popup-02 .span2-MrZXuK {

}
.verification-popup-02 .span2-dHJEIB {

}
.verification-popup-02 .span3-DBkUh6 {

}
.verification-popup-02 .span3-Jix5FH {

}
.verification-popup-02 .span4-DBkUh6 {

}
.verification-popup-02 .submit-5mh5pu {
  background-color: transparent;
  bottom: calc(25.68% - 8px);
  height: 33px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 28px);
}
.verification-popup-02 .submit-may3U0 {
  background-color: transparent;
  bottom: calc(25.68% - 8px);
  height: 33px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 28px);
}
.verification-popup-02 .text-DGxVxJ {
  background-color: transparent;
  height: 257px;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 54px;
  width: calc(100.00% - 129px);
}
.verification-popup-02 .text-MLqgWW {
  background-color: transparent;
  height: 167px;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 28px;
  width: calc(100.00% - 158px);
}
.verification-popup-02 .text-SweIIp {
  background-color: transparent;
  height: 167px;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: 50px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 25px;
  width: calc(100.00% - 158px);
}
.verification-popup-02 .thank-you-for-y-ur-contribution-flJxko {
  background-color: transparent;
  bottom: calc(42.55% - 17px);
  height: 39px;
  left: calc(50.00% - 201px);
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 402px;
}
.verification-popup-02 .token-icon-MLqgWW {
  background-color: var(--christine);
  border-radius: 35.5px;
  height: 71px;
  left: 14px;
  position: absolute;
  top: calc(22.26% - 16px);
  width: 71px;
}
.verification-popup-02 .user-information-module-C61RwL {
  background-color: transparent;
  height: 1007px;
  left: 1478px;
  position: absolute;
  top: 87px;
  width: 402px;
}
.verification-popup-02 .user-information-text-5mh5pu {
  background-color: transparent;
  height: 47px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: calc(27.25% - 13px);
  width: calc(100.00% - 28px);
}
.verification-popup-02 .user-information-text-may3U0 {
  background-color: transparent;
  height: 47px;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: calc(27.25% - 13px);
  width: calc(100.00% - 28px);
}
.verification-popup-02 .value-display-module-C61RwL {
  background-color: transparent;
  height: 326px;
  left: 978px;
  position: absolute;
  top: 703px;
  width: 251px;
}
.verification-popup-02 .value-meter-96TyVx {
  background-color: transparent;
  bottom: calc(28.61% - 9px);
  height: 30px;
  left: calc(49.71% - 24px);
  object-fit: cover;
  position: absolute;
  width: 48px;
}
.verification-popup-02 .verification-module-C61RwL {
  background-color: transparent;
  height: 174px;
  left: 1580px;
  position: absolute;
  top: 646px;
  width: 300px;
}
.verification-popup-02 .vote-received-flJxko {
  background-color: transparent;
  height: 89px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: calc(30.99% - 28px);
  width: calc(100.00% + 2px);
}
.verification-popup-02 .x-0mH9hY {
  background-color: transparent;
  height: 82px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: calc(100.00% + 2px);
}
.verification-popup-02 .x2-eth-96TyVx {
  background-color: transparent;
  bottom: calc(45.20% - 38px);
  height: 83px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 60px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: calc(100.00% + 2px);
}
.verification-popup-02 .x43-DGxVxJ {
  background-color: transparent;
  bottom: 0px;
  height: 2px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 2px;
}
